#ignora tudo
*

#menos os arquivos abaixo, ainda que em subdiretorios
!*/
!E1.pdf
!E2.pdf
!E3.pdf
!E4.pdf
!.gitignore
!Makefile
!helpers.h
!main.c
!scanner.l
!parser.y
!tad_ast.c
!tad_ast.h
!table.c
!table.h
!iloc.c
!iloc.h
!ilocsim.py
